@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --background-color: #f6f6f6;
  --foreground-color: #003cff;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #d8c56d;
  --primary: #ac1648;
  --secondary: #5c428e;
  --light: #a39e9ec9;
  --light-alt: #16191de4;
  --dark: #575f6bc9;
  --dark-alt: #394654cd;
  --background-color: #aa1625;
  --edit: rgb(5, 14, 5);
}
[data-theme="dark"] {
--primary: #a3365e;
  --secondary: #8964cd;
  --light: #eee;
  --light-alt: #323a4c;
  --dark: #131A26;
  --dark-alt: #202b3e;
  --background-color: #c45d67;
  --edit: rgb(19, 147, 19);
   --background-color: #0a0a0a;
  --foreground-color: #567aff;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans' sans-serif;
    color: var(--light);
  background-color: var(--background-color);
}

body{
  background-color: var(--dark-alt);
  color: var(--light);
}

.App{
  padding: 32px;
}

h1{
  color: var(--light);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}

h4{
  font-size: 18px;
  color: var(--light-alt);
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 16px;
}

.todo {
  position: relative;
  background-color: var(--dark);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 16px;
}

.todo:hover{
  opacity: 0.8;
}

.todo .checkbox{
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border-radius: 999px;
  background-color: var(--dark-alt);
  transition: 0.4s;
}
.todo .checkbox:hover{
  background-color: var(--light);
}

.todo.is-complete .checkbox{
  background-color: var(--primary);
  background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
}

.todo .text{
  font-size: 20px;
}
.todo .text:hover{
  background-color: var(--primary)
}
.todo.is-complete .text{
  text-decoration: line-through;
}
.todo .delete-todo{
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  color: var(--light);
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.todo .delete-todo:hover{
  background-color: var(--light-alt);
  
}
.todo .edit-todo{
  position: absolute;
  top: 50%;
  right: 48px;
  transform: translateY(-50%);
  width: 36px;
  height: 24px;
  color: var(--light);
  background-color: var(--edit);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.todo .edit-todo:hover{
  background-color: var(--secondary);
}

.addPopup{
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 999px;
  font-size: 28px;
  font-weight: 900;
  color: var(--light);
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  cursor: pointer;
}
.addPopup:hover{
   background-image: linear-gradient(to bottom right, var(--dark), var(--background-color));

}

.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  background-color: var(--light);
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px 3px 24px var(--dark);

}

.closePopup{
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  font-size: 18px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--light);
  border-radius: 50%;
}
.closePopup:hover{
 background-image: linear-gradient(to bottom right, var(--dark), var(--background-color));

}

.popup h3{
  color: var(--dark);
  margin-bottom: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.add-todo-input{
  appearance: none;
  border: none;
  outline: none;
  background-color: #eee;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 2px 24px rgba(0,0,0,0.2);
  width: 100%;
  font-size: 20px;
}

.button{
  padding: 16px 32px;
  border-radius: 99px;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 16px;
  text-align: center;
  cursor: pointer;
}
.button:hover{
  background-image: linear-gradient(to right, var(--dark), var(--light-alt));
  box-shadow: 0.2;
}


* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #212426;
}

.app {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgb(175, 86, 13, 0.6) 100%,
    rgb(9, 9, 9) 0%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
img {
  border-radius: 10px;
  border: solid;
}


.search {
  width: 71%;
  margin: 4rem 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* .search button {
  padding: 20px 40px;
  border-radius: 0.5rem;
  margin-left: 15px;
  color: #a1a1a1;
  font-family: var(--font-raleway);
  font-weight: 900;
  letter-spacing: 0.75px;
  font-size: 1.25rem;
  cursor: pointer;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
} */

.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #1b1b1a;
  font-family: var(--font-raleway);
}

.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container:hover{
  width: 105%;
}

.movie {
  width: 310px;
  height: 460px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 1;
  box-shadow: #a1a1a1;
  /* border: solid 1px #a1a1a1; */
  top: 0;
  color: #151311;
  font-weight: bold;
  
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.4);
  transform: scale(1.115, 1.50);


}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.6;
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}
.card-skeleton {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 5px;
}
.card-skeleton .left-col{
  margin-right: 1rem
}

.card-skeleton .right-col{
  flex: 1;
}


@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: "100%";
    margin: 1rem;
  }
  
}